<footer>
    <div class="contenitore">
        <div class="colonna">
            <h2>Digital Thinks s.r.l.</h2>
            <ul class="primo">
                <li>P.zza Indro Montanelli, 20</li>
                <li>Sesto San Giovanni</li>
                <li>20099 (MI), Italia</li> <br>
                <li>Phone: +39 02 87 21 132</li>
                <li>P.Iva 11552190966</li>
                <li>Email: <a href="#">info@dthinks.it</a></li>
            </ul>
        </div>
        <div class="colonna">
            <h3>Link utili</h3>
            <ul class="secondo">
                <li>Home</li> <br>
                <li>Chi Siamo</li><br>
                <li>Termini e Condizioni</li> <br>
                <li>Privacy Policy</li><br>
            </ul></div>
        <div class="colonna">
            <h3>I Nostri Corsi</h3>
            <ul class="terzo">
                <li>Cerca Corsi</li> <br>
                <li>Catalogo</li><br>
            </ul></div>
    </div>

</footer>
<div id="fine">
    <div id="last">© Copyright Digital Thinks s.r.l. All Rights Reserved</div>
    <div id="last1">Designed by Digital Thinks</div>
</div>