 <head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
 </head>
  <app-componente1></app-componente1>
  <app-componente2></app-componente2>
  <app-componente3></app-componente3>
  <app-componente4></app-componente4>
  <app-componente5></app-componente5>
  <app-componente6></app-componente6>
