<div id="contenitore"><h1>Chi siamo</h1>
<h4>Il nostro punto di partenza sono le Digital Skills del futuro.</h4>
<p>New Skills & Reskilling delle abilità tecnologiche per le persone e per le aziende.</p>
    <p>Il Partner ideale per potenziare e riqualificare i work team con mentalità digitale, capacità tecniche e una
        cultura di crescita che guida il successo aziendale.</p>
    <p>DThinks supporta la formazione di nuove risorse attraverso la progettazione ed erogazione di Campus per i giovani
        e, grazie al Know-how interno, ricco di abilità tecnologiche applicate ai progetti di consulenza sui temi di
        innovazione digitale, contribuisce a colmare il gap formativo delle competenze, con processi di reskilling
        all'interno delle aziende, per affrontare le sfide di un business in continua evoluzione.</p>
    <p>Particolarmente sensibile ai temi di employability, diversity e inclusion, il Team di DThinks promuove e
        collabora nello sviluppo di figure professionali capaci di innovare in ambito IT,IOT,Ambientale ed Energetico
        con proposte formative mirate ad aumentare le performances necessarie.</p>
    <p>Digital Thinks è certificata ISO 90012015. Settore IAF: 33,35,37 (EA37 Formazione)</p> </div>